ul.sidebar {
    padding-left: 15px;
}
p.post-author {
    display: inline-block;
    padding: 5px;
    margin: 0px;
    margin-top: 10px;
}
article.tutorials_index div.well h3 {
    margin-top: 0px;
}
